langchain>=0.3.0
langchain-core
langchain-chroma
langchain-google-genai
langchain-text-splitters
pypdf
fastapi
uvicorn[standard]
pydantic==2.*
onnxruntime==1.17.3
python-dotenv

pandas
numpy<2
cryptography
